@use '@angular/material' as mat;
@include mat.core();
$ui-primary: mat.define-palette(mat.$indigo-palette);
$ui-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);
$ui-warn: mat.define-palette(mat.$red-palette);

$ui-theme: mat.define-light-theme((
  color: (
    primary: $ui-primary,
    accent: $ui-accent,
    warn: $ui-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($ui-theme);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
